@use "./constant.scss" as *;
@use "./fixed.scss" as *;
@import url('//at.alicdn.com/t/c/font_5014666_741ewdh4oam.css');

 
 body,ul,li{
	 margin:0;
	 padding:0;
 }
 html,body{
	 width:100%;
	 height:100%;
 }
 *{
	 box-sizing: border-box;
 }
.l-size {
  font-size: $large-size;
}
.search-box--container{
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom:15px;
	background: rgba(0,0,0,0.01);
	border-radius: 4px;
	padding:10px;
	border:1px solid rgba(0,0,0,0.1);
	.search-box--left{
		display:flex;
		justify-content: flex-start;
		align-items: center;
		.search-box--item{
			display:flex;
			justify-content: flex-start;
			align-items: center;
			margin-right:10px;
			label{
				width:100px;
				font-size:14px;
				color: rgba(0,0,0,0.6);
			}
			label.item-title{
				width:50px;
			}
			.search-box--tag{
				margin-right:10px;
			}
			.search-box--input{
				
			}
		}
	}
	
	
}


	
	.row-img--box{
	width: 50px;
	height:50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	border:1px solid rgba(0,0,0,.08);
	.row-img {
		width: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(0, 0, 0, 0.05);
		border-radius: 4px;
	
		.el-image__error ,.el-image__placeholder{
			font-size: 10px;
			color: rgba(0,0,0,0.3);
		}
	}
		.no-img{
			width:25px;
		}
	}
	
	
	//添加动态
	.people-in--box{
		.people-box{
			margin-bottom:10px;
			.people-box--tag{
				margin-right:10px;
			}
		}
		.people-add--line{
			display:flex;
			align-items:center;
			.people-add--input{
				margin-right:10px;
			}
			.people-add--btn{
				
			}
		}
	}
	